<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890963695000-o0bcc4pp6ml52a0ire9rpd7b85jhf0mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890963695000-o0bcc4pp6ml52a0ire9rpd7b85jhf0mj</string>
	<key>API_KEY</key>
	<string>AIzaSyDR3otfUCv7z1Fr7A8DzM1xgn7xfp6cbok</string>
	<key>GCM_SENDER_ID</key>
	<string>890963695000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fSesion11</string>
	<key>PROJECT_ID</key>
	<string>noti-app-e9e54</string>
	<key>STORAGE_BUCKET</key>
	<string>noti-app-e9e54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890963695000:ios:c0ef0c9ba57a47c25cc7ed</string>
</dict>
</plist>